QUE.1
Python program to display the sum of n numbers using the list.

In [ ]:
n = int(input("Enter how many numbers you wants to append:"))

list = []

for i in range(n):
    num = int(input("Enter number:"))
    list.append(num)

sum = 0

for i in list:
    sum = sum + i
    
print("The sum of n numbers in list is:", sum)

Enter how many numbers you wants to append:5
Enter number:65
Enter number:51
Enter number:25

QUE.2
Use a dictionary comprehension to count the length of each word in a sentence.

In [2]:
word =  "the punishment given by a judge to somebody who has been found guilty of a crime"

words = word.split()

for word in words:
    print(word,":", len(word))

the : 3
punishment : 10
given : 5
by : 2
a : 1
judge : 5
to : 2
somebody : 8
who : 3
has : 3
been : 4
found : 5
guilty : 6
of : 2
a : 1
crime : 5

5.The objective of this project is to explore a dataset containing customer information for treadmill products for a retail store called Cardio Good Fitness.
                                                                                                                                                                         [25M]
⦁	Product - The model no. of the treadmill
⦁	Age - Age of the customer in no of years
⦁	Gender - Gender of the customer
⦁	Education - Education of the customer in no. of years
⦁	Marital Status - Marital status of the customer
⦁	Usage - Avg. # times the customer wants to use the treadmill every week
⦁	Fitness - Self rated fitness score of the customer (5 - very fit, 1 - very unfit)
⦁	Income - Income of the customer
⦁	Miles- Miles that a customer expects to run
⦁	Perform descriptive statistics
⦁	Which gender has better fitness levels?
⦁	Which is the most popular product among all?
⦁	Who is more fit? Married or singles
⦁	Which is the most favourite product of the customers below the age of 40?

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
#df

In [5]:
df=pd.read_csv(r"C:\Users\Asus\Downloads\CardioGoodFitness.csv")

In [6]:
df.head()

  Product  Age  Gender  Education MaritalStatus  Usage  Fitness  Income  Miles
0   TM195   18    Male         14        Single      3        4   29562    112
1   TM195   19    Male         15        Single      2        3   31836     75
2   TM195   19  Female         14     Partnered      4        3   30699     66
3   TM195   19    Male         12        Single      3        3   32973     85
4   TM195   20    Male         13     Partnered      4        2   35247     47

In [7]:
df.shape

(180, 9)

In [8]:
print(df.describe())

              Age   Education       Usage     Fitness         Income  \
count  180.000000  180.000000  180.000000  180.000000     180.000000
mean    28.788889   15.572222    3.455556    3.311111   53719.577778
std      6.943498    1.617055    1.084797    0.958869   16506.684226
min     18.000000   12.000000    2.000000    1.000000   29562.000000
25%     24.000000   14.000000    3.000000    3.000000   44058.750000
50%     26.000000   16.000000    3.000000    3.000000   50596.500000
75%     33.000000   16.000000    4.000000    4.000000   58668.000000
max     50.000000   21.000000    7.000000    5.000000  104581.000000

            Miles
count  180.000000
mean   103.194444
std     51.863605
min     21.000000
25%     66.000000
50%     94.000000
75%    114.750000
max    360.000000

In [9]:
# Display counts for categorical columns
print(df['Gender'].value_counts())
print(df['MaritalStatus'].value_counts())

Male      104
Female     76
Name: Gender, dtype: int64
Partnered    107
Single        73
Name: MaritalStatus, dtype: int64

In [10]:
# Calculate the mean fitness score for each gender
mean_fitness_by_gender = df.groupby('Gender')['Fitness'].mean()

In [11]:
df.dtypes

Product          object
Age               int64
Gender           object
Education         int64
MaritalStatus    object
Usage             int64
Fitness           int64
Income            int64
Miles             int64
dtype: object

In [12]:
# Print the mean fitness score for each gender
print(mean_fitness_by_gender)

Gender
Female    3.026316
Male      3.519231
Name: Fitness, dtype: float64

In [13]:
# Count the number of occurrences for each product
product_counts = df['Product'].value_counts()

In [14]:
# Print the product counts
print(product_counts)

TM195    80
TM498    60
TM798    40
Name: Product, dtype: int64

In [15]:
# Calculate the mean fitness score for each marital status
mean_fitness_by_marital_status = df.groupby('MaritalStatus')['Fitness'].mean()

In [16]:
list_col=['Product','MaritalStatus','Usage','Fitness','Education','Age']
for col in list_col:
        print('{} :{} ' . format(col.upper(),df[col].unique()))

PRODUCT :['TM195' 'TM498' 'TM798']
MARITALSTATUS :['Single' 'Partnered']
USAGE :[3 2 4 5 6 7]
FITNESS :[4 3 2 1 5]
EDUCATION :[14 15 12 13 16 18 20 21]
AGE :[18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41
 43 44 46 47 50 45 48 42]

In [17]:
# Print the mean fitness score for each marital status
print(mean_fitness_by_marital_status)

MaritalStatus
Partnered    3.271028
Single       3.369863
Name: Fitness, dtype: float64

In [18]:
# Filter the data for customers below the age of 40
young_customers = df[df['Age'] < 40]

In [19]:
# Count the number of occurrences for each product
product_counts = young_customers['Product'].value_counts()

In [20]:
# Print the product counts
print(product_counts)

TM195    73
TM498    55
TM798    35
Name: Product, dtype: int64

Python Program to Make a Simple Calculator

In [21]:
first = input("enter first number:")
second = input("enter second number:")
operator = input("enter operator (+,-,*,/,%): ")

first = int(first)
second = int(second)

if operator == "+":
    print(first + second)
elif operator == "-":
    print(first - second)
elif operator == "*":
    print(first * second)
elif operator == "/":
    print(first / second)
elif operator == "%":
    print(first % second)
else:
    print("Invalid Operation")

enter first number:7995
enter second number:998
enter operator (+,-,*,/,%): +
8993

. Tests whether a data sample has a Gaussian distribution.
⦁	Generate the data, form H0 and H1 and write python code to test the Normality        [10M]

  Create an application using python which can perform the operations mentioned in the below             image

In [24]:
print("Welcome to State Bank of India")
pin = input("Enter your 4-digit PIN number: ")

balance = 10000   # Assuming an initial balance of Rs. 10,000

# If the user enters the correct PIN, allow them to access their account
if pin == "7995":
    print("1. Withdraw")
    print("2. Balance Enquiry")
    print("3. Fast Cash")
    option = int(input("Please choose a transaction: "))

    if option == 1:
        withdraw_amount = int(input("Enter withdraw amount: "))
        if withdraw_amount > balance:
            print("Insufficient balance")
        else:
            balance -= withdraw_amount
            print("Please take your amount:", withdraw_amount)

    elif option == 2:
        print("Your current balance is:", balance)

    elif option == 3:
        print("1. Rs. 500")
        print("2. Rs. 50000")
        print("3. Rs. 1000000")
        fast_cash_option = int(input("Please choose a fast cash option: "))

        if fast_cash_option == 1:
            if balance >= 100:
                balance -= 100
                print("Please take your amount: 100")
            else:
                print("Insufficient balance")

        elif fast_cash_option == 2:
            if balance >= 500:
                balance -= 500
                print("Please take your amount: 500")
            else:
                print("Insufficient balance")

        elif fast_cash_option == 3:
            if balance >= 1000:
                balance -= 1000
                print("Please take your amount: 1000")
            else:
                print("Insufficient balance")

        else:
            print("Invalid option selected")

    else:
        print("Invalid option selected")

else:
    print("Incorrect PIN")

Welcome to State Bank of India
Enter your 4-digit PIN number: 7995
1. Withdraw
2. Balance Enquiry
3. Fast Cash
Please choose a transaction: 1
Enter withdraw amount: 5000
Please take your amount: 5000